// Colors

$main_color:#458ff6;
$white:#fff;
$black:#000;
$text:#7D7987;

// Sizes

$margin-x:10px;
$margin-2x:$margin-x*2;
$margin-3x:$margin-x*3;
$margin-4x:$margin-x*4;
$margin-5x:$margin-x*5;
$margin-6x:$margin-x*6;
$margin-7x:$margin-x*7;
$margin-8x:$margin-x*8;
$margin-15x:$margin-x*15;



$padding-x:10px;
$padding-2x:$padding-x*2;
$padding-3x:$padding-x*3;
$padding-4x:$padding-x*4;
$padding-5x:$padding-x*5;
$padding-6x:$padding-x*6;
$padding-7x:$padding-x*7;
$padding-8x:$padding-x*8;



$font-size-x:8px;
$font-size-2x:$font-size-x*2;
$font-size-3x:$font-size-x*3;
$font-size-4x:$font-size-x*4;
$font-size-5x:$font-size-x*5;
$font-size-6x:$font-size-x*6;
$font-size-7x:$font-size-x*7;
$font-size-8x:$font-size-x*8;



$wid_heig-x:60px;
$wid_heig-2x:$wid_heig-x*2;
$wid_heig-3x:$wid_heig-x*3;
$wid_heig-4x:$wid_heig-x*4;
$wid_heig-5x:$wid_heig-x*5;
$wid_heig-6x:$wid_heig-x*6;
$wid_heig-7x:$wid_heig-x*7;
$wid_heig-8x:$wid_heig-x*8;
$wid_heig-9x:$wid_heig-x*9;
$wid_heig-10x:$wid_heig-x*10;
$wid_heig-10x:$wid_heig-x*18;



$box-shadow-x:10px;
$box-shadow-2x:$box-shadow-x*2;
$box-shadow-3x:$box-shadow-x*3;
$box-shadow-4x:$box-shadow-x*4;
$box-shadow-5x:$box-shadow-x*5;
$box-shadow-6x:$box-shadow-x*6;
